@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:var(--typography-title-subtitle-font-weight),var(--typography-button-nav-link-font-weight),var(--typography-title-h3-font-weight),400,700,var(--typography-body-copy-font-weight),var(--typography-body-pre-title-font-weight),var(--typography-button-CTA-secondary-font-weight),var(--typography-title-h2-font-weight),var(--typography-body-strong-bold-font-weight),var(--typography-button-CTA-primary-font-weight)|Fraunces:400|Indie+Flower:400|Inter:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
