:root {
  --colourpinkelectric-pink: rgba(241, 36, 123, 1);
  --colourpinkpersian-pink: rgba(249, 145, 204, 1);
  --colourpinklavender-pink: rgba(255, 218, 252, 1);
  --colouryellow: rgba(245, 201, 57, 1);
  --colourbeige: rgba(243, 233, 207, 1);
  --colourneutralgrey: rgba(102, 102, 102, 1);
  --colourneutrallightslate: rgba(140, 140, 161, 1);
  --colourneutralslate: rgba(74, 74, 104, 1);
  --colourneutraldarkgrey: rgba(51, 51, 51, 1);
  --colourneutralbluewhite: rgba(236, 241, 244, 1);
  --colourneutralblueblack: rgba(6, 6, 26, 1);
  --colourneutrallight: rgba(250, 252, 254, 1);
  --typography-title-h2-font-family: "Work Sans", Helvetica;
  --typography-title-h2-font-weight: 700;
  --typography-title-h2-font-size: 50px;
  --typography-title-h2-letter-spacing: -1.5px;
  --typography-title-h2-line-height: normal;
  --typography-title-h2-font-style: normal;
  --typography-title-h3-font-family: "Work Sans", Helvetica;
  --typography-title-h3-font-weight: 600;
  --typography-title-h3-font-size: 40px;
  --typography-title-h3-letter-spacing: -0.8px;
  --typography-title-h3-line-height: normal;
  --typography-title-h3-font-style: normal;
  --typography-title-subtitle-font-family: "Work Sans", Helvetica;
  --typography-title-subtitle-font-weight: 500;
  --typography-title-subtitle-font-size: 24px;
  --typography-title-subtitle-letter-spacing: 0px;
  --typography-title-subtitle-line-height: normal;
  --typography-title-subtitle-font-style: normal;
  --typography-body-strong-bold-font-family: "Work Sans", Helvetica;
  --typography-body-strong-bold-font-weight: 600;
  --typography-body-strong-bold-font-size: 18px;
  --typography-body-strong-bold-letter-spacing: 0px;
  --typography-body-strong-bold-line-height: normal;
  --typography-body-strong-bold-font-style: normal;
  --typography-body-copy-font-family: "Work Sans", Helvetica;
  --typography-body-copy-font-weight: 400;
  --typography-body-copy-font-size: 18px;
  --typography-body-copy-letter-spacing: 0px;
  --typography-body-copy-line-height: 140%;
  --typography-body-copy-font-style: normal;
  --typography-body-pre-title-font-family: "Work Sans", Helvetica;
  --typography-body-pre-title-font-weight: 700;
  --typography-body-pre-title-font-size: 20px;
  --typography-body-pre-title-letter-spacing: 0.6px;
  --typography-body-pre-title-line-height: normal;
  --typography-body-pre-title-font-style: normal;
  --typography-button-CTA-primary-font-family: "Work Sans", Helvetica;
  --typography-button-CTA-primary-font-weight: 700;
  --typography-button-CTA-primary-font-size: 18px;
  --typography-button-CTA-primary-letter-spacing: 0.72px;
  --typography-button-CTA-primary-line-height: normal;
  --typography-button-CTA-primary-font-style: normal;
  --typography-button-CTA-secondary-font-family: "Work Sans", Helvetica;
  --typography-button-CTA-secondary-font-weight: 600;
  --typography-button-CTA-secondary-font-size: 16px;
  --typography-button-CTA-secondary-letter-spacing: 0px;
  --typography-button-CTA-secondary-line-height: normal;
  --typography-button-CTA-secondary-font-style: normal;
  --typography-button-nav-link-font-family: "Work Sans", Helvetica;
  --typography-button-nav-link-font-weight: 500;
  --typography-button-nav-link-font-size: 16px;
  --typography-button-nav-link-letter-spacing: 0.64px;
  --typography-button-nav-link-line-height: normal;
  --typography-button-nav-link-font-style: normal;
}
